spring:
  profiles:
    active: mysql, jwt, oauth2, minio, swagger

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

